<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- 1. Internet Permission -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/nmpralekh"
        android:label="NMPralekh"
        android:roundIcon="@drawable/nmpralekh"
        android:supportsRtl="true"
        android:theme="@style/Theme.NMPralekh"
        android:usesCleartextTraffic="true"> <!-- 2. Allows HTTP during development -->

        <!-- 3. Main Login Launcher Activity -->
        <activity
            android:name=".LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Destination Activity -->
        <activity
            android:name=".FacultyActivity"
            android:exported="false" />

    </application>
</manifest>